@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    --primary-color-one: hsl(14, 86%, 42%);
    --primary-color-two: hsl(159, 69%, 38%);
    --rose-variant-one: hsl(20, 50%, 98%);
    --rose-variant-two: hsl(13, 31%, 94%);
    --rose-variant-three: hsl(14, 25%, 72%);
    --rose-variant-four: hsl(7, 20%, 60%);
    --rose-variant-five: hsl(12, 20%, 44%);
    --rose-variant-six: hsl(14, 65%, 9%);
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-size-product-names: 16px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Text', sans-serif;
    background-color: hsl(60, 63%, 95%);
    /* background-color: var(--rose-variant-two); */
}

.products-container{
    margin: 50px 70px;
    display: grid;
    /* grid-template-columns: 3fr 1fr; */
    grid-template-columns: auto auto;
    gap: 25px;
}

.product-listings{
    display: grid;
}

.products{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    column-gap: 15px;
    justify-content: space-between;
    margin-top: 25px;
}

.product-cards{
    display: flex;
    flex-direction: column;
}

.product-img{
    width: 240px;
    border-radius: 10px;
}

.quantity{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color-one);
    width: 144px;
    border-radius: 25px;
    padding: 10px 15px;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
}

.decrease-quantity, .increase-quantity{
    border-radius: 50%;
    /* padding: 5px; */
    border: none;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.decrease-quantity:hover, .increase-quantity:hover{
    .add, .minus{
        fill: var(--primary-color-one);
    };
    background-color: #fff;
    
}

.minus, .add{
    fill: #fff;
    width: 10px;
    height: 10px;
}

.add{
    display: block;
    margin: 0 auto;
}

.quantity-value{
    color: #fff;
    pointer-events: none;
}

.add-product{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: var(--font-weight-semibold);
    border: 1px solid #000;
    outline: none;
    background-color: #fff;
    padding: 10px 15px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
    border-radius: 25px;
    cursor: pointer;
}

.add-product:hover{
    border: 1px solid var(--primary-color-one);
    color: var(--primary-color-one);
}

.add-product img{
    padding-right: 5px;
}

.product-category{
    color: var(--rose-variant-three);
    font-size: 14px;
    margin-bottom: 8px;
    cursor: pointer;
    width: max-content;
}

.product-name{
    font-size: var(--font-size-product-names);
    font-weight: 700;
    margin-bottom: 8px;
    cursor: pointer;
    width: max-content;
}

.product-price{
    color: var(--primary-color-one);
    width: max-content;
}

.cart{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 15px 20px 30px;
    height: max-content;
}

.cart h3{
    color: var(--primary-color-one);
}

.empty-cart {
    display: block;
    margin: 30px auto;
}

.empty-cart-message {
    text-align: center;
    font-size: 14px;
}